<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestor de Gastos - Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon id="profile-page-back-button" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list id="profile-info">
    <ion-item>
      <ion-label>Nome: {{ profileService.getProfile()[0] }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{ profileService.getProfile()[1] }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button class="profile-page-buttons" (click)="profileService.presentAlertPromptEditProfile()">Alterar
    Dados</ion-button>
  <ion-button class="profile-page-buttons" (click)="profileService.deleteProfile()">Excluir</ion-button>
</ion-content>