<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestor de Gastos - Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content id="signup-page-style">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nome Completo</ion-label>
        <ion-input type="text" [(ngModel)]="signupData.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="signupData.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="signupData.password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="singup-page-buttons" (click)="signup()">Concluir Cadastro</ion-button>
    <ion-button class="singup-page-buttons" routerLink="/login">Voltar</ion-button>
  </ion-content>
</ion-content>