ion-toolbar {
    --background: #1e9483;
    --color: white;
    
  }


#signup-page-style {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#singup-page-style ion-list{
    border-radius: 5%;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.singup-page-buttons{
    --background: #2bb19d;
    margin: 10px 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


