<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestor de Gastos - Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list id="profile-info">
    <ng-container *ngFor="let aux of profileService.getProfile(); let i = index">
      <ion-item *ngIf="i == 0">
        <ion-label>Nome: {{aux}}</ion-label>
      </ion-item>
      <ion-item *ngIf="i == 1">
        <ion-label>Email: {{aux}}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-button class="profile-page-buttons">Alterar Dados</ion-button>
  <ion-button class="profile-page-buttons">Excluir</ion-button>
</ion-content>